<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('../../layouts/head.ejs') %>
  <body>
    <div class="wrapper">
      <!-- phần header -->
      <%- include('../../layouts/mainheader.ejs') %>
      <!-- thanh sidebar -->
      <%- include('../../layouts/sidebar.ejs') %>
      <div class="main-panel">
        <%- include('../../components/orders/listOrder.ejs'); %>
        <!-- phần footer -->
        <%- include('../../layouts/footer.ejs') %>
      </div>
    </div>
    <%- include('../../components/common/modal.ejs') %>
  </body>
  <!-- phần script -->
  <%- include('../../layouts/script/mainsScript.ejs'); %>
  <%- include('../../layouts/script/listOrderScript.ejs'); %>
</html>
