<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">
      <% if (mode === "Create") { %> Create New Product Category <% } %> 
      <% if (mode === "Update") { %> Update Product Category <% } %>
      <% if (mode === "Delete") { %> Do you agree to delete the product? <%=category?.name%>
      <% } %>
    </h4>

    <div class="card">
      <div class="card-body">
        <% if (mode === "Create") { %>
        <form action="/categories/create" method="post">
        <% } %> 
        <% if (mode === "Update") { %>
          <form action="/categories/update/<%= category?._id %>" method="post">
          <!-- <div class="form-group hide">
            <input
              name="id"
              type="text"
              value="<%=category?.id%>"
              id="id"
            /> -->
          </div>
        <% } %>
        <% if (mode === "Delete") { %>
          <form action="/categories/delete" method="post">
            <div class="form-group hide">
              <input
                name="id"
                type="text"
                value="<%=category?.id%>"
                id="id"
              />
            </div>
          <% } %>

          <!-- <div class="form-group has-error has-feedback">
            <label for="errorInput">Error Input</label>
            <input type="text" id="errorInput" value="Error" class="form-control">
            <small id="emailHelp" class="form-text text-muted">Please provide a valid informations.</small>
          </div> -->

          <div class="form-group <%= err?.code && 'has-error has-feedback' %>">
            <label for="code" class="fw-bold">ID Type Product</label>
            <input
              name="code"
              type="text"
              value="<%=category?.code%>"
              class="form-control categoryInput"
              id="code"
              placeholder="Enter ID type product"
            />
            <small class="form-text text-muted text-danger"><%= err?.code %></small>
          </div>
          <div class="form-group <%= err.name && 'has-error has-feedback' %>">
            <label for="name" class="fw-bold">Name Type Product</label>
            <input
              name="name"
              type="text"
              value="<%=category?.name%>"
              class="form-control categoryInput"
              id="name"
              placeholder="Enter name type product"
            />
            <small class="form-text text-muted text-danger"><%= err?.name %></small>
          </div>
          <div class="form-group <%= err.search && 'has-error has-feedback' %> ">
            <label for="search" class="fw-bold">Search String</label>
            <input name="search" type="text" value="<%=category?.search%>" class="form-control categoryInput" id="search" placeholder="Enter search string"/>
            <small class="form-text text-muted text-danger"><%= err?.search %></small>
          </div>
          <div class="form-group <%= err.image && 'has-error has-feedback' %> ">
            <label for="image" class="fw-bold">Link Image</label>
            <input
              name="image"
              type="text"
              value="<%=category?.image%>"
              class="form-control categoryInput"
              id="image"
              placeholder="Enter link image"
            />
            <small class="form-text text-muted text-danger"><%= err?.image %></small>
          </div>
          <div class="card-action">
            <% if (mode === "Create") { %>
            <button class="btn btn-success">Create</button>
            <% } %> 
            <% if (mode === "Update") { %>
            <button class="btn btn-success">Update</button>
            <% } %>
            <% if (mode === "Delete") { %>
              <button class="btn btn-danger">Delete</button>
              <% } %>
            <a class="btn btn-primary" href="/categories">Return</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
