<div class="content">
  <div class="container-fluid">
    <h4 class="page-title">
      <% if (mode === "Create") { %> Create New Product Category <% } %> 
      <% if (mode === "Update") { %> Update Product Category <% } %>
      <% if (mode === "Delet") { %> Do you agree to delete the product? <%=category?.name%>
      <% } %>
    </h4>
    <div class="card">
      <div class="card-body">
        <% if (mode === "Create") { %>
        <form action="/categories/create" method="post">
        <% } %> 
        <% if (mode === "Update") { %>
        <form action="/categories/update" method="post">
          <div class="form-group hide">
            <input
              name="id"
              type="text"
              value="<%=category?.id%>"
              id="id"
            />
          </div>
        <% } %>
        <% if (mode === "Delete") { %>
          <form action="/categories/delete" method="post">
            <div class="form-group hide">
              <input
                name="id"
                type="text"
                value="<%=category?.id%>"
                id="id"
              />
            </div>
          <% } %>
          <div class="form-group">
            <label for="code">ID Type Product</label>
            <input
              name="code"
              type="text"
              value="<%=category?.code%>"
              class="form-control"
              id="code"
              placeholder="Enter ID product"
              disabled="<%= mode === 'Delete' ? true : false %>"
            />
          </div>
          <div class="form-group">
            <label for="name">Name Type Product</label>
            <input
              name="name"
              type="text"
              value="<%=category?.name%>"
              class="form-control"
              id="name"
              placeholder="Enter name product"
              disabled="<%= mode === 'Delete' ? true : false %>"
            />
          </div>
          <div class="form-group">
            <label for="image">Link Image</label>
            <input
              name="image"
              type="text"
              value="<%=category?.image%>"
              class="form-control"
              id="image"
              placeholder="Enter link image"
              disabled="<%= mode === 'Delete' ? true : false %>"
            />
          </div>
          <div class="card-action">
            <% if (mode === "Create") { %>
            <button class="btn btn-success">Create</button>
            <% } %> 
            <% if (mode === "Update") { %>
            <button class="btn btn-success">Update</button>
            <% } %>
            <% if (mode === "Delete") { %>
              <button class="btn btn-danger">Delete</button>
              <% } %>
            <a class="btn btn-primary" href="/categories">Return</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
