<div class="content">
  <div class="container">
    <div class="flex items-center justify-content-between mb-4">
      <h4 class="page-title mb-0">Product Category List</h4>
      <a class="btn btn-default" href="/categories/create">Create Products</a>
    </div>
    <div class="card">
      <div class="card-body">
        <table class="table table-head-bg-success">
          <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Image</th>
              <th scope="col">Code</th>
              <th scope="col">Name</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% categories.forEach(function(Category, index){ %>
            <tr>
              <td><%=index+1%></td>
              <td>
                <img src="<%=Category.image%>" alt="image" class="category-label" />
              </td>
              <td><%=Category.code%></td>
              <td><%=Category.name%></td>
              <td><a class="btn btn-primary btn-sm" href="/categories/update/<%= Category._id %>">Update</a></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
